<h2>Assign Employees To COllect Donation</h2>

<table class="table">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
          @*  <th>Restaurant Name</th>
            <th>Pickup Location</th>
            <th>Time</th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.EmployeeId</td>
                <td>@employee.EmployeeName</td>
                <td>@employee.RestaurantName</td>
                <td>@employee.Location</td>
                <td>@employee.AssignTime</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="EmployeeId" value="@employee.EmployeeId" />
                        <input type="hidden" name="EmployeeName" value="@employee.EmployeeName" />
                        <input type="hidden" name="RestaurantName" value="@employee.RestaurantName" />
                        <input type="hidden" name="Location" value="@employee.Location" />
                      <input type="hidden" name="AssignTime" value="@employee.AssignTime" />
                        <button type="submit" class="btn btn-warning" name="Status" value="Collect">Assign</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
